<!DOCTYPE html>
{% extends "master.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Tennis Club - List of all Members {% endblock %}</title>
</head>
<body>
    {% block content %}

        <p><a href="/">HOME</a></p>

        <h1>Members</h1>
        <ul>
            {% for x in mymembers %}
                <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>